
firmware_v2/

electron/release-builds/

*.deb

electron/dist/

*.o

firm/code_analysis/\.scannerwork/cfamily/subprocess

firm/code_analysis/main

firm/code_analysis/\.vscode/

firm/code_analysis/\.cproject

firm/code_analysis/\.project

firm/code_analysis/test_vihard

firm/code_analysis/sonar_test
