@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

.ContactContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; 
    margin-bottom: 50px; */
    /* padding: 25px 0px;
    border: 3px; */
    /* border-style; */
    padding-top: 25px; 
    border-style: double;
    font: 20px Font_AppText;
    /* height: 560px;  */


    height: 535px; 
    /* width: 1320px;  */
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;

    /* border: none;
    background: white; */

    border: 3px;
    /* border-style; */
    border-style: double;
}
