@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

.ContactContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
    margin-bottom: 50px;
    padding: 25px 0px;
    border: 3px;
    /* border-style; */
    border-style: double;
    font: 20px Font_AppText;
}
