
#InnetHtmlContainer_Documentation{
    align-content: center;
    align-self: center;
    align-items: center;
    
    width: 98%;
    height: 560px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;

    border: 3px;
    border-style: double;
    border-color: darkolivegreen;
}

.Iframe_Documentation{
    height: 96%; 
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;

    background: whitesmoke;

}