/*===========[ Generales ]=======================*/

@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

@font-face {
    font-family: Font_Footer;
    src: url("../fonts/font_footer.TTF");
}

body{
    background-color: rgba(20, 20, 20, 0.90);
    user-select: none;
}

/*===========[ Titulo ]=======================*/

.Title{
    color:darkgoldenrod;
    text-align: center;
    font: 40px Font_AppText;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 12px;
    margin-right: 12px;
    height: 40px;
    /*background-color: blueviolet;*/
}

/*===========[ Barra navegacion ]=============*/

.NavigationCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    /*background-color:yellow;*/
}

.NavigationBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    /*background-color: orange;*/
}

.NavigationItem{
    font: 20px Font_AppText;
    /* margin-left: 25px;
    margin-right: 25px; 
    padding-left: 5px;
    padding-right: 5px; */
    text-decoration: none;
    text-align: center;
    color:whitesmoke;
    width: 210px;
    background-color: cornflowerblue;
    border-radius: 15px;
    background: rgba(55, 55, 55, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*===========[ Footer ]=======================*/

/*
.Footer{
    margin-top: 10px;
    font: 15px Font_Footer;
    text-align: center;
    height: 100px;
}
*/

.Footer {
    /* background-color: orange; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 9px;
    font: 10px Font_Footer;
    text-align: center;
    color:whitesmoke;
}