@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

#InnetHtmlContainer_Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    width: 98%;
    height: 560px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;

    border: 3px;
    border-style: double;
    border-color: darkolivegreen;
     
}

.ContactContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    box-align: center;

    font: 20px Font_AppText;
    color: goldenrod;

    width: 98%;
    height: 96%;

    margin: 1%;

    /* background: whitesmoke; */
}

.title{
    font: 45px Font_AppText;
    color: goldenrod;
}

.text{
    font: 35px Font_AppText;
    color: whitesmoke;
}

.link{
    font: 35px Font_AppText;
    color:rgb(0, 174, 255);

}
