@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

.SourceContainer{
    /* align-content: center;
    align-self: center;
    align-items: center;
    box-align: center; */

    margin-top: 20px;    
    margin-bottom: 20px;
    margin-left: 30px;
    /* width: 1000px; */
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    /* background: red; */

    vertical-align:middle;
}

.SourceContainerH{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SourceContainerC{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Iframe_SourceH{
    height: 500px; 
    width: 600px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    border: none;
}

.Iframe_SourceC{
    height: 500px; 
    width: 600px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: none;
}

.Button_Source{
    border-style: solid;
    background-color: gray;
    padding: 10px;
    /* font-size: 16px; */
    /* font: Font_AppText bold 20px; */
    font: 15px Font_AppText;
}