@font-face {
    font-family: Font_AppText;
    src: url("../fonts/font_appText_3.ttf");
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#InnetHtmlContainer_Source{
    height: 560px; 
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;
    border: 3px;
    border-style: double;
    border-color: darkolivegreen;
}

.FilesTabs {
    margin: 5px 10px;
    overflow: hidden;
}

.FilesTabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font: 12px Font_AppText;
    color: goldenrod;
}

.FilesTabs button:hover {
    background-color: #ddd;
}

.FilesTabs button.active {
    background-color: gray;
}

.TabContent {
    animation: fadeEffect 1s;
    width: 99%;
    height: 100%;
}

.Iframe_Source{
    width: 100%;
    height: 450px;
    border: none;
}

.Button_Source{
    border-style: solid;
    background-color: gray;
    padding: 5px;
    font: 15px Font_AppText;
    margin: 10px;
}