@font-face {
    font-family: regularCode;
    src: url("fonts/CallingCode-Regular.ttf");
}

@font-face {
    font-family: segments7;
    src: url("fonts/7segments_font.ttf");
}

@font-face {
    font-family: lcdFont;
    src: url("fonts/lcddot_tr.ttf");
}

body{
    background-color: green;
}

/*===========[ Titulo ]=======================*/

.Class_Title{
    color: yellowgreen;
    background-color: blueviolet;
    text-align: center;
    font: bold 35px Verdana;
    margin: 2%;
}

/*===========[ Barra navegacion ]=============*/

.Class_NavBar{
    background-color: orange;
    align-items: center;
    margin: 2%;
    padding: 1%;
}

.Class_NavItem{
    background-color: cornflowerblue;
    background-color: green;
    text-align: center;
    font: bold 20px Verdana;

}

/*===========[ Puertos disponibles ]==========*/

.Class_PortsContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2%;
}

/*===========[ LEDs ]=========================*/

.Class_LedContainer{
    display: flex;
    align-items: center;
    height: 50px;
    width: 70px;
    flex-direction: column;
    margin: 20px;
    margin: 2%;
}

.Class_LedContainer img{
    width: 100%
}

.Class_LedContainer label{
    color: beige;
    background-color: green;
    text-align: center;
    font: bold 20px Verdana;
    margin: 5px;
}

.Class_LedsContainer{
    display: flex;
}

/*===========[ Botones ]======================*/

.Class_ButtonContainer{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    flex-direction: column;
    margin: 2%;
}

.Class_ButtonContainer img{
    width: 100%
}

.Class_ButtonContainer label{
    color: beige;
    background-color: green;
    text-align: center;
    font: bold 20px Verdana;
    font-family: regularCode!important;
}

.Class_ButtonsContainer{
    display: flex;
}

/*===========[ Analogicos]====================*/

.Class_AnalogContainer{
    margin: 2%;
    width: 570px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Class_AdcContainer{
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    background: url('images/pote_v2.svg');
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Class_AdcContainer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 70px;
    border: 0;
    background: url('images/slider2.svg');
    cursor: pointer;
}

.Class_DacContainer{
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    background: url('images/pote_v2.svg');
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.Class_DacContainer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 70px;
    border: 0;
    background: url('images/slider2.svg');
    cursor: pointer;
}

/*===========[ Displays contaninter ]=========*/

.Class_DisplaysContainer{
    display: flex;
    margin: 2%;
}

/*===========[ LCD ]==========================*/

.Class_DisplayLcd{
    background: url('images/lcd_display.svg');
    font: 40px lcdFont;
    border: 4px;
    border-color: aquamarine;
    width: 100%;
    text-align: center;
    padding-top: 55px;
    width: 440px;
    height: 142px;
}

.Class_LabelLcd{
    color: beige;
    background-color: green;
    text-align: center;
    font: bold 20px Verdana;
}

.Class_LcdContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*===========[ 7 Segmentos ]==================*/

.Class_Display7Segments{
    background: url('images/7segments_v2.svg');
    font: 185px segments7;
    color: red;
    width: 180px;
    height: 198px;
    padding-left: 50px;
}

.Class_LabelLcd{
    color: beige;
    background-color: green;
    text-align: center;
    font: bold 20px Verdana;
}

.Class_7SegmentsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*===========[ Footer ]=======================*/
