/*===========[ Gemera;es ]=======================*/

@font-face {
    font-family: Font_RegularCode;
    src: url("fonts/CallingCode-Regular.ttf");
}

@font-face {
    font-family: Font_AppText;
    src: url("fonts/CallingCode-Regular.ttf");
}

@font-face {
    font-family: Font_7Segments;
    src: url("fonts/7segments_font.ttf");
}

@font-face {
    font-family: Font_Lcd;
    src: url("fonts/lcddot_tr.ttf");
}

body {
    background-color: green;
}

.PcbSkillText {
    font: bold 20px Font_AppText;
    height: 30px;
    color: whitesmoke;
}

/*===========[ Titulo ]=======================*/

.Title {
    color: yellowgreen;
    background-color: blueviolet;
    text-align: center;
    font: bold 35px Font_AppText;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
    height: 40px;
}

/*===========[ Barra navegacion ]=============*/

.NavigationBar {
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    padding: 5px;
}

.NavigationItem {
    background-color: cornflowerblue;
    background-color: green;
    font: bold 20px Verdana;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

/*===========[ Puertos disponibles ]==========*/

.PortsCont {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
}

/*===========[ GPIO ]=========================*/

.GpiosCont {
    display: flex;
    align-items: center;
    height: 200px;
    width: 500px;
    flex-direction: row;
    background-color: brown;
    margin-left: 12px;
}

.GpioCont {
    display: flex;
    align-items: center;
    height: 190px;
    width: 100px;
    flex-direction: column;
    background-color: yellowgreen;
    margin: 12.5px;
}

/*===========[ Analogicos]====================*/

.AnalogsCont {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 500px;
    background-color: gold;
    margin-left: 12px;
}

.AnalogCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 225px;
    background-color: royalblue;
    margin: 12.5px;
}

.AnalogCont_Slider {
    -webkit-appearance: none;
    width: 225px;
    height: 50px;
    background: url('images/potentiometer.svg');
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.AnalogCont_Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 60px;
    border: 0;
    background: url('images/slider.svg');
    cursor: pointer;
}

/*===========[ Displays contaninter ]=========*/

.DisplaysCont {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 12px;
    background-color: violet;
    height: 200px;
    width: 500px;
}

/*===========[ LCD ]==========================*/

.LcdCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 200px;
    background-color: rebeccapurple;
    margin: 12.5px;
}

.LcdCont_Lcd {
    background: url('images/lcd_display.svg');
    font: 40px Font_Lcd;
    text-align: center;
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
}

.LcdCont_Lcd p {
    padding: 0 20px;
    text-align: left
}

.LcdCont_TextContainer {
    height: 68px;
    position: relative;
    top: 25px;
    font-size: 20px;
    padding: 2px 15px;
}

/*===========[ 7 Segmentos ]==================*/

.Segments7Cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 200px;
    background-color: cadetblue
}

.Segments7Cont_Display {
    background: url('images/display_7segs.svg');
    font: 120px Font_7Segments;
    color: red;
    width: 100px;
    height: 150px;
    text-align: center;
    margin-bottom: 0px;
}

/*===========[ Footer ]=======================*/

.Footer{
    text-align: center;
}